.container {
    font-family: sans-serif;
    width: 1280px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    color: #000;
    font-size: 80px;
    text-decoration: none;
    margin-bottom: 45px;
}

.text-selected {
    color: #4bcaff;
}

.header {
    background-color: #35444f;
    text-align: center;
}

.menu-link {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding: 14px 40px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.menu-link:hover {
    background: #222F3A;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.sidebar {
    /* float: left; */
    width: 344px;
    border: 1px solid #dbdbdb;
    display: inline-block;
    /* vertical-align: top; */
    /* margin: 10px; */
}

.sidebar-menu {
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    display: block;
    text-decoration: none;
    padding: 30px 44px;
    color: #485863;
}

.sidebar-menu:hover {
    box-sizing: border-box;
    background: #dbdbdb;
    color: black;
    padding-left: 50px;
}

.image {
    /* float: right; */
    transition: .5s;
    padding: 50px 270px;
}

.image:hover {
    transform: scale(1.5);
}

.main-image {
    border: 1px solid#35444f;
}

.image-text {
    font-size: 18px;
    font-family: sans-serif;
    text-align: justify;
    margin-top: 30px;
}

.text-container {
    width: 815px;
    margin: 0 auto;
    margin-top: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: flex-start;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #b4b7ba;
    padding: 21px 0;
    margin-top: 21px;
}

.footer-menu {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    
}

.footer-menu-item {

    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-family: sans-serif;
    transition: .5s;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;


}
.footer-menu-item:hover {
    /* text-decoration: underline; */
    border-bottom: 1px solid #3181a6;
    padding-bottom: 3px;
    color:#3181a6;

}
.copy {
    font-size: 24px;
    font-family: sans-serif;
    padding-right: 20px;
}

