.container {
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}

.navbar-menu {
    text-align: center;
    padding-top: 33px;
    padding-bottom: 33px;
}

.navbar-menu-item {
    font-size: 18pх;
    color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 73px;
}
.navbar-menu-item:last-child{
    padding-right: 0;
}

.main-image {
 height: 790px;   
}
.content {
    text-align: center;
    background-color: #f5f6f7;  
    padding: 59px 110px 94px;
    
}
.title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    
}
.text {
    margin-top: 34px;
    line-height: 26px;
}
.btn {
    margin-top: 41px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #16a085;
    color: #fff;
    display: inline-block;
    padding: 20px 44px;
    border-radius: 3px;
}

.footer {
    padding: 46px 104px 46px 0;
    text-align: right;
}