.bg-container {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.main-container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding-top: 50px;
    position: relative;
}

.contacts {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50px;
}

.contact-data {
    color: #ffffff;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    text-align: right;
    display: block;
}

.logo {
    display: inline-block;

}

.logo:hover .logo-text {
    color: #F26522;
    cursor: pointer;
}

.logo:hover .logo-hover-img {
    display: inline-block;
}

.logo:hover .logo-img {
    display: none;
}

.logo-img {
    display: inline-block;
}

.logo-hover-img {
    display: none;
}

.logo-title {
    font-size: 29px;
    display: block;
}

.logo-subtitle {
    font-size: 18px;
    display: block;
}

.logo-text {
    margin-left: 8px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    transition: .5s;
}

.service-section {
    display: flex;
    margin-top: 48px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.service-item {
    margin-right: 66px;
    cursor: pointer;
}

.service-item:hover .service-title {
    color: #F26522;
}

.service-item:nth-child(3n) {
    margin-right: 0;
}

.service-img {
    width: 308px;
    height: 200px;
    border: 3px solid transparent;
    border-image: linear-gradient(#b5b4b4 0%, #191919 100%);
    border-image-slice: 1;
}

.service-title {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 22px;
    margin-bottom: 54px;
    text-align: center;
    transition: .3s;
}


.service-img-item {
    position: relative;
    overflow: hidden;
}

.copyright {
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    padding-bottom: 20px;
    color: #fff;
}

.hidden-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 63px;
    background-color: #F26522;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
    position: absolute;
    bottom: -63px;
    transition: 1s bottom;
}

.service-item:hover .hidden-details {
    bottom: 0;
}

.details-price {
    padding-left: 20px;
}

.details-info {
    padding-right: 20px;
    align-self: flex-end;
    font-size: 14px;
    padding-bottom: 17px;
}

.details-price::before {
    content: "from";
    display: block;
    font-size: 10px;
}


.details-info::after {
    content: "\203A";
    padding-left: 15px;
}